.container__small-card {
  width: 550px;
  margin-bottom: 23px;
}

.container__small-card a {
  display: flex;
  flex-direction: row;
}

.small-card__picture img {
  width: 230px;
  min-width: 220px;

  margin-right: 18px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title {
  font-size: 8px;
}

.container__small-card__line hr{
  margin-top: 15px;
  border: .1px solid #1d1d1d;
}


@media screen and (min-width: 350px) and (max-width: 1023px) {
  .container__small-card {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1332px) {
  .container__small-card {
    width: 80%;
    display: flex;
    align-items: center;
  }
  .container__small-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .small-card__title {
    width: 100%;
    display: flex;
    text-align: center;
  }
}
