<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="container__content">
  <div class="content__cover">
    <img src="{{ photoCover }}" alt="">
  </div>
  <div class="content__title">
    <h1> {{ contentTitle }} </h1>
    <hr/>
  </div>
  <div class="content__description">
    <p>
      {{ contentDescription }}
    </p>
  </div>

  <a [routerLink]="['']"> <i class="fa fa-chevron-left"> VOLTAR </i> </a>

</div>
