.container__articles {
  margin-top: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (min-width: 350px) and (max-width: 500px) {
  .articles__main {
    width: 85%;
  }
  .articles__others {
    display: none;
  }
}
