.container__menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container__menu-bar ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar ul li{
  list-style: none;
  margin: 0 20px;
}

.container__menu-bar img {
  width: 175px;
}


@media screen and (min-width: 350px) and (max-width: 467px) {
  .container__menu-bar {
    display: flex;
    flex-direction: column;
  }
  .container__menu-bar a {
    margin-bottom: 1rem;
  }
}
